{% extends "layout.html" %}
{% block title %}Datenschutz{% endblock %}
{% block content %}

<h2 id="wer-wir-sind">Wer wir sind</h2>
<p>Die Adresse dieser Website ist <a href="http://swissbeach.herokuapp.com">http://swissbeach.herokuapp.com</a>.</p>
<h2 id="welche-personenbezogenen-daten-wir-sammeln-und-warum-wir-sie-sammeln">Welche personenbezogenen Daten wir sammeln und warum wir sie sammeln</h2>
<h3 id="Namen">Kommentare</h3>
<p>Als Besucher kannst du Spieler unter einem Namen erstellen. Diese Namen werden gespeichert, allerdings erfolgt keine weitere Verarbeitung des Namens und es wird kein Bezug zu der Person hergestellt.</p>
<h3 id="eingebettete-inhalte-von-anderen-websites">Eingebettete Inhalte von anderen Websites</h3>
<p>Beiträge auf dieser Website können eingebettete Inhalte beinhalten (z.&nbsp;B. Videos, Bilder, Beiträge etc.). Eingebettete Inhalte von anderen Websites verhalten sich exakt so, als ob der Besucher die andere Website besucht hätte.</p>
<p>Diese Websites können Daten über dich sammeln, Cookies benutzen, zusätzliche Tracking-Dienste von Dritten einbetten und deine Interaktion mit diesem eingebetteten Inhalt aufzeichnen, inklusive deiner Interaktion mit dem eingebetteten Inhalt, falls du ein Konto hast und auf dieser Website angemeldet bist.</p>
<h3 id="analysedienste">Analysedienste</h3>
<h2 id="mit-wem-wir-deine-daten-teilen">Mit wem wir deine Daten teilen</h2>
<p>Wir nutzen Google Analytics für die statistische Analyse der Besucherfrequenzen für die Weiterverbesserung der Website.</p>
<h2 id="wie-lange-wir-deine-daten-speichern">Wie lange wir deine Daten speichern</h2>
<p>Wenn du einen Namen schreibst, wird dieser inklusive Metadaten zeitlich begrenzt gespeichert. Alle Informationen werden spätestens nach sechs Monaten gelöscht.</p>
<h2 id="welche-rechte-du-an-deinen-daten-hast">Welche Rechte du an deinen Daten hast</h2>
<p>Wir stellen alle personenbezogenen Daten, inklusive aller Daten, die du uns mitgeteilt hast als Export zur Verfügung. Darüber hinaus kannst du die Löschung aller personenbezogenen Daten, die wir von dir gespeichert haben, anfordern. Dies umfasst nicht die Daten, die wir aufgrund administrativer, rechtlicher oder sicherheitsrelevanter Notwendigkeiten aufbewahren müssen.</p>
<h2 id="wohin-wir-deine-daten-senden">Wohin wir deine Daten senden</h2>
<p>Alle hinterlegten Daten könnten von einem automatisierten Dienst zur Spam-Erkennung untersucht werden.</p>
<h2 id="weitere-informationen">Weitere Informationen</h2>
<h3 id="von-welchen-drittanbietern-wir-daten-erhalten">Von welchen Drittanbietern wir Daten erhalten</h3>
<p>Wir erhalten keine Daten von Drittanbietern.</p>
<h3 id="welche-automatisierte-entscheidungsfindung-und-oder-profilerstellung-wir-mit-benutzerdaten-durchf-hren">Welche automatisierte Entscheidungsfindung und/oder Profilerstellung wir mit Benutzerdaten durchführen</h3>
<p>Wir führen keine Profilerstellung mit Benutzerdaten durch.</p>

{% endblock %}