<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>Beachvolleyball im Schweizer System - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home">Swiss Beach</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	     <span class="navbar-toggler-icon"></span>
	 </button>
         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">
                 {% if database %}
		<li class="nav-item">
		    <a class="nav-link" href="players">Players</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="matches">Matches</a>
		</li>
        <li class="nav-item">
            <a class="nav-link" href="config">Config</a>
        </li>
                 {% endif %}
            </ul>
         </div>
    </nav>

    <div class="container" id="content" style="width: 90%; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px">
        {% block content %}{% endblock %}
    </div>

    {% if database %}
    <div class="container" id="tournament_link" style="width: 90%; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px">
        <p><em>Dein Turnierlink: <a href="/{{database}}/home"><em>{{database}}</em></a></p>
    </div>
    {% endif %}

    <div id="footer">
        {% block footer %}
        <div id="content" style="width: 90%; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px">
            <p>
                Entwickelt von <a href="https://www.erbs.eu">Nicolai Erbs</a>.</br>
                Quellcode auf <a href="https://github.com/nicolaierbs/swissbeach">GitHub</a>.</br>
                Weitere Informationen: <a href="datausage">Datenschutz</a> und <a href="contact">Impressum</a>
            </p>
        </div>
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
</body>
</html>
