{% extends "layout.html" %}
{% block title %}Players{% endblock %}
{% block content %}
<table
  id="players" data-toggle="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
        <th class="th-sm" data-sortable="true">Name</th>
      <th class="th-sm" data-sortable="true">Matches</th>
      <th class="th-sm" data-sortable="true">Sets</th>
      <th class="th-sm" data-sortable="true">Set Ratio</th>
      <th class="th-sm" data-sortable="true">Points</th>
      <th class="th-sm" data-sortable="true">Point Ratio</th>
      <th class="th-sm" data-sortable="true">Active</th>
    </tr>
  </thead>
  <tbody>
        {% for player in players %}
        <tr>
            <td><a href='/player/{{player._id}}'>{{player.name}}</a></td>
            {% if player.statistics.matches %}
            <td>{{ player.statistics.matches }}</td>
            <td>{{ player.statistics.won_matches }} : {{ player.statistics.lost_matches }}</td>
            <td>{{player.statistics.match_ratio|round(2)}}</td>
            <td>{{ player.statistics.won_points }} : {{ player.statistics.lost_points }}</td>
            <td>{{player.statistics.point_ratio|round(2)}}</td>
            {% else %}
           <td>0</td>
             <td>0 : 0</td>
            <td>n.a.</td>
            <td>0 : 0</td>
            <td>n.a.</td>
            {% endif %}
            {% if player.active %}
            <td><i class="fa fa-check"></i></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
  </tbody>
</table>

{% endblock %}